@import "./utils/vars";
@import "./components/advantage";
@import "./components/customers";
@import "./components/footer";
@import "./components/header";
@import "./components/modal";
@import "./components/offer";
@import "./components/team";
@import "./components/container";
@import "./utils/reset";
@import "./components/submenu";
@import "./components/cards";
