.advantage {
  display: flex;
  letter-spacing: 0.03em;
  font-size: 14px;
  width: 100%;
  background-color: getColor("page-quarternary-background-color");
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  &__list {
    padding-left: 0;
    display: flex;
    line-height: 1.14;
    flex-wrap: wrap;
    gap: 30px;

    @include tablet {
      flex-direction: row;
    }
  }

  &__item {
    max-width: 450px;

    @include tablet {
      max-width: 354px;
    }
    @include desktop {
      max-width: 270px;
    }
  }

  &__icons {
    background-color: getColor("page-tertiary-background-color");
    padding: 25px 100px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__title {
    text-transform: uppercase;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("text-primary-color");
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  &__text {
    color: getColor("text-secondary-color");
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.71;

    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
}
