.photo {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;

  &__project {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  &__project:hover .overlay {
    transform: translateX(0);
  }

  &__section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 370px;
    height: 294px;

    &__section:hover .overlay {
      transform: translateX(0);
    }
  }

  &__img {
    display: block;
  }

  &__border {
    border-color: getColor("border-color");
    border-top: 0;
    padding: 20px 24px;
    border: 1px solid getColor("border-color");
    border-top: 0;
  }

  &__header {
    color: getColor("text-primary-color");
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
    border-top: 0;
    margin-bottom: 4px;
  }

  &__text {
    color: getColor("text-secondary-color");
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }

  .overlay {
    background-color: getColor("overlay-background-color");
    color: getColor("text-tertiary-color");
    position: absolute;
    left: 0;
    top: 0px;
    padding: 49px 45px 49px 24px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__text {
    color: getColor("text-secondary-color");
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}
