.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &--set {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
  }

  @include tablet {
    max-width: 60px;
  }
  @include desktop {
    max-width: 80px;
  }
}

.slogan {
  background-color: getColor("page-secondary-background-color");
  background-image: url("../images/imgslogan1@1x.jpg"),
    linear-gradient(
      getColor("background-color-for-gradient"),
      getColor("background-color-for-gradient")
    );
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 118px 0;
  margin: 0 auto;

  @include desktop {
    padding: 118px 0;
    background-size: contain;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url("../images/imgslogan1@2x.jpg"),
        linear-gradient(
          getColor("background-color-for-gradient"),
          getColor("background-color-for-gradient")
        );
    }
  }

  &__title {
    color: getColor("text-tertiary-color");
    font-weight: 900;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0 auto;
    width: 365px;

    @include desktop {
      font-size: 44px;
      line-height: 1.36;
      min-height: 120px;
      min-width: 696px;
    }
  }
  &__btn {
    display: block;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: getColor("object-secondary-background-color");
    background-color: getColor("object-primary-background-color");
    box-shadow: 0px 4px 4px getColor("primary-box-shadow-color");
    border-radius: 4px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
  }
}
