.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &--set {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
  }

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.slogan {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  padding: 118px 0;
  background-color: getColor("page-secondary-background-color");
  background-image: url("../images/imgslogan1@1x.jpg"),
    linear-gradient(
      getColor("background-color-for-gradient"),
      getColor("background-color-for-gradient")
    );

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url("../images/imgslogan1@2x.jpg"),
        linear-gradient(
          getColor("background-color-for-gradient"),
          getColor("background-color-for-gradient")
        );

      @include tablet {
        background-image: linear-gradient(
            getColor("background-color-for-gradient"),
            getColor("background-color-for-gradient")
          ),
          url(../images/imgslogan2@1x.jpg);

        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              getColor("background-color-for-gradient"),
              getColor("background-color-for-gradient")
            ),
            url(../images/imgslogan2@2x.jpg);
        }
      }
      @include desktop {
        padding: 200px 0;
        background-size: contain;
        background-image: linear-gradient(
            getColor("background-color-for-gradient"),
            getColor("background-color-for-gradient")
          ),
          url(../images/imgslogan3@1x.jpg);

        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              getColor("background-color-for-gradient"),
              getColor("background-color-for-gradient")
            ),
            url(../images/imgslogan3@2x.jpg);
        }
      }
    }
  }
  &__title {
    color: getColor("text-tertiary-color");
    font-weight: 900;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0 auto;
    width: 365px;
    margin-bottom: 30px;

    @include desktop {
      font-size: 44px;
      line-height: 1.36;
      min-height: 120px;
      min-width: 696px;
    }
  }
  &__btn {
    background-color: getColor("object-primary-background-color");
    color: getColor("object-secondary-background-color");
    box-shadow: 0px 4px 4px getColor("primary-box-shadow-color");
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    min-height: 50px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
}
