.header {
  background-color: getColor("object-secondary-background-color");
  border-bottom: 1px solid getColor("header-border-bottom-color");

  @include tablet {
    padding: 21px 0;
  }
  @include desktop {
    display: flex;
  }

  &__border {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    @include tablet {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 10px 0;
    }
    @include desktop {
      align-items: center;
      height: 80px;
    }
  }
}

.logo {
  color: getColor("text-quaternary-color");
  font-family: "Raleway", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .logo__color {
    color: getColor("object-primary-background-color");
  }

  .logo__color--black {
    color: getColor("text-quaternary-color");
    @include desktop {
    }
  }
}
.menu {
  display: none;

  @include tablet {
    display: flex;
  }
  @include desktop {
  }
}

.menu__list {
  display: flex;
  column-gap: 46px;
  padding-left: 0;
  margin-left: 83px;
  color: getColor("text-primary-color");

  &--start {
    text-decoration: none;
    color: getColor("text-primary-color");
    margin-right: 101px;

    @include desktop {
      margin-right: 345px;
    }
  }
}

.menu__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: getColor("text-primary-color");
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor("object-primary-background-color");
  }
}
.menu__link--active::after {
  background-color: getColor("object-primary-background-color");
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 4px;
  width: 53px;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}

.menu__link--active {
  color: getColor("object-primary-background-color");
}

.contact {
  display: none;
  margin-left: auto;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @include desktop {
    column-gap: 30px;
    flex-direction: row;
  }

  &__item {
    color: getColor("text-secondary-color");
    text-decoration: none;

    &:hover,
    &:focus {
      color: getColor("object-primary-background-color");
    }
  }
  .contact__icon {
    fill: getColor("parrent-color");
    width: 16px;
  }
  .contact__link {
    color: getColor("text-secondary-color");
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: getColor("object-primary-background-color");
      cursor: pointer;
    }
  }
}
