.menu-toggle {
  background-color: transparent;
  border: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;

  @include tablet-size {
    display: none;
  }
  &__icon {
    fill: getColor("text-primary-color");
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: getColor("object-primary-background-color");
    }
  }
}
