.team {
  background-color: getColor("page-tertiary-background-color");
  width: 100%;

  &__header {
    color: getColor("text-primary-color");
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
  }

  &__item {
    background-color: getColor("object-secondary-background-color");
    box-shadow: 0px 2px 1px getColor("quarternary-box-shadow-color"),
      0px 1px 1px getColor("tertiary-box-shadow-color"),
      0px 1px 3px getColor("secondary-box-shadow-color");
    border-radius: 0px 0px 4px 4px;
  }

  &__img {
    display: block;
  }

  &__top {
    color: getColor("text-primary-color");
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px auto 10px;
  }

  &__text {
    color: getColor("text-secondary-color");
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 10px auto 16px;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 30px;
  }

  &__link {
    display: block;
    fill: getColor("social-links-primary-icon-color");
    background-color: getColor("object-secondary-background-color");
    transition-property: fill, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px;
    border-radius: 50%;

    &:hover,
    &:focus {
      fill: getColor("social-links-icon-hover-color");
      background-color: getColor("social-links-primary-background-color");
    }
  }

  &__icon {
    display: block;
  }
}
