h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: getColor("text-primary-color");
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
